# Vim
*.swp
*.swo

# Build Files
*.o
*.elf
*.map
*.out
syscall.s
main.s
task.s
queue.s
scheduler.s
kernel.s
test_helpers.s
basic_test.s
run_tests.s

# Doc Build Files
DOCS/*.aux
DOCS/*.log
DOCS/*.synctex.gz
